.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.text-white {
  color: #ffffff;
}

.text-gray-300 {
  color: #d1d1d1;
}

.font-bold {
  font-weight: bold;
}

/* Hero text styling */
.hero-text {
  font-weight: 900;
  font-size: 8rem; /* Adjust size as needed */
  color: #789d80; /* Solid text color */
  text-align: center;
  font-family: 'Staatliches'; /* Google font */
  text-shadow: 
    -1px -1px 0 #000000, 
    1px -1px 0 #000000, 
    -1px 1px 0 #000000, 
    1px 1px 0 #000000, 
    -1px 0 0 #000000, 
    1px 0 0 #000000, 
    0 -1px 0 #000000, 
    0 1px 0 #000000,  /* Black outline */
    4px 4px 0 #000000; 
}

.section-text {
  font-weight: 900;
  font-size: 8rem; /* Adjust size as needed */
  color: #f26b46; /* Solid text color */
  text-align: left;
  font-family: 'Staatliches'; /* Google font */
  text-shadow: 
    -1px -1px 0 #000000, 
    1px -1px 0 #000000, 
    -1px 1px 0 #000000, 
    1px 1px 0 #000000, 
    -1px 0 0 #000000, 
    1px 0 0 #000000, 
    0 -1px 0 #000000, 
    0 1px 0 #000000,  /* Black outline */
    4px 4px 0 #000000; 
}

.project-text {
  font-weight: 800;
  font-size: 6rem; /* Adjust size as needed */
  color: #ffc63a; /* Solid text color */
  text-align: left;
  font-family: 'Staatliches'; /* Google font */
  text-shadow: 
    -1px -1px 0 #000000, 
    1px -1px 0 #000000, 
    -1px 1px 0 #000000, 
    1px 1px 0 #000000, 
    -1px 0 0 #000000, 
    1px 0 0 #000000, 
    0 -1px 0 #000000, 
    0 1px 0 #000000,  /* Black outline */
    4px 4px 0 #000000;
  margin-top: 0px;
  padding-top: 0px;
}

.section {
  scroll-margin-top: 20px;
}

.shadow {
  box-shadow: 
    -1px -1px 0 #000000, 
    1px -1px 0 #000000, 
    -1px 1px 0 #000000, 
    1px 1px 0 #000000, 
    -1px 0 0 #000000, 
    1px 0 0 #000000, 
    0 -1px 0 #000000, 
    0 1px 0 #000000,  /* Black outline */
    4px 4px 0 #000000;
}
